var GSP_APP_URL="https://gsplocalv2";
var GSP_APP_RELATIVE_URL="";
// if in a folder on a domain: '<foldername>/app', etc.
var GSP_SYSTEM_JS_PACKAGE_MAP = {
  'app':                        GSP_APP_RELATIVE_URL +'/app', // 'dist',
  '@angular':                   GSP_APP_RELATIVE_URL+'/@angular',
  'angular2-in-memory-web-api': GSP_APP_RELATIVE_URL+'/angular2-in-memory-web-api',
  'rxjs':                       GSP_APP_RELATIVE_URL+'/rxjs'
};
