  <b>Where to find Reasonable Parking Summary Key</b><br />
  <span style="background-color:#ff0000;">&nbsp;&nbsp;&nbsp;</span> No parking<br />
  <span style="background-color:#FF6600;">&nbsp;&nbsp;&nbsp;</span> Off hours free, paid short term on hours<br />
  <span style="background-color:#FFFF00;">&nbsp;&nbsp;&nbsp;</span> Off hours free, paid no limits on hours<br />
  <span style="background-color:#0000ff;">&nbsp;&nbsp;&nbsp;</span> Free all the time, but short term on hours<br />
  <span style="background-color:#00ff00;">&nbsp;&nbsp;&nbsp;</span> Free all/most the time, may close off hours<br />
  <span style="background-color:#993366;">&nbsp;&nbsp;&nbsp;</span> Off hours free, no parking/permit on hours<br />
  <!--
  m - Motorcycle spot<br />
  h - Handicap spot<br />
  e - electric vehicle charging spot<br />
  -->
  <p>
    <br />
    Click on "i" for details/hours, or on the icon for specialty parking details.
  </p>
  <!--
  <p>
  <b>Change key by filter</b><br />
  <input type="radio" name="keyFilter" /> Generally, where to find free street parking, by type<br />
  <input type="radio" name="keyFilter" />Show Only Special Types (Motorcycle, Electric, Handicapped, or Loading Vehicles): Where special types exist for a majority of the time time<br />
  <input type="radio" name="keyFilter" />Show Current Restrictions: Show a map where the type of parking for this specific time is displayed.<br />
  <input type="radio" name="keyFilter" />Show Restrictions for a Time: Show a map where the type of parking for a specific time is displayed.<br />
  Time: <select></select> On which Day? <select></select>
  </p>
  -->