<div *ngIf="myModalIsVisible" class="modal fade show in danger" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="hideModalContainer()">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <!-- using non sugar syntax with tempaltes. TODO:NW figure out how to just use dynamic component name -->
            <div class="modal-body" [ngSwitch]="contentType">
                <template ngSwitchCase="edit_section"><section-update-form [model]="selectedSection"></section-update-form></template>
                <template ngSwitchCase="simple_string">{{contentString}}</template>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="hideModalContainer()">Close</button>
            </div>
        </div>
    </div>
</div>