
<div class="row">
  <div class="col-xs-2">
    <div>ID: {{model.id}}</div>
    <div>New Hrs:?</div>
  </div>
  <div class="col-xs-10 pull-left">
    <div [innerHTML]="model.hoursHtml" id="hours-table-container"></div>
  </div>
</div>
<div class="container">
  <div [hidden]="submitted">
    <form *ngIf="active" (ngSubmit)="onSubmit()" #sectionForm="ngForm">
      <div>
        <label for="mainParkingTypeId">Parking Type</label>
        <select id="mainParkingTypeId"
                required
                [(ngModel)]="model.mainParkingTypeId" name="mainParkingTypeId" 
                #mainParkingTypeId="ngModel" >
          <option *ngFor="let type of pTypes" [value]="type.id">{{type.name}}</option>
        </select>
        <div [hidden]="mainParkingTypeId.valid || mainParkingTypeId.pristine" 
             class="alert alert-danger">
          Parking Type is required
        </div>
        <label for="power">Time Limited?</label>
        <select id="mainShortTermMin"
                [(ngModel)]="model.mainShortTermMin" name="mainShortTermMin" 
                #mainShortTermMin="ngModel" >
          <option *ngFor="let t of pTimes" [value]="t.time">{{t.label}}</option>
        </select>
      </div>
      <div class="form-group">
        <span>New line from map?</span>
        <input #newPl type="checkbox" id="newPolyline"
              [(ngModel)]="model.newPolyline" name="newPolyline"
              (change)="toggleNewPolyline()">
        <span>New line street side: </span>
        <select id="streetSide"
                required
                [(ngModel)]="model.streetSide" name="streetSide" 
                #streetSide="ngModel" >
          <option *ngFor="let t of ssTypes" [value]="t.value">{{t.label}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="notes">Notes: </label>
        <input type="text" class="" id="notes" style="width:250px;"
               [(ngModel)]="model.notes" name="notes" >
        <label for="notes">Hours: </label>
        <select id="hoursType"
                [(ngModel)]="model.hoursType" name="hoursType" 
                #streetSide="ngModel" >
          <option *ngFor="let t of hoursTypes" [value]="t.value">{{t.label}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="hoursCustom">Custom Hours: </label>
        <input type="text" class="" id="hoursCustom" style="width:250px;"
               [(ngModel)]="model.hoursCustom" name="hoursCustom" >
      </div>
      <button type="submit" class="btn btn-default" [disabled]="!sectionForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="deleteSection()">Delete</button>
    </form>
  </div>
  <div [hidden]="!submitted">
    <br>
    <p><strong>Form submitted:</strong></p>
    <div class="row">
      <div class="col-xs-3">Saving ...</div>
      <div class="col-xs-9 pull-left">Server Response:</div>
    </div>
    <br>
    <button class="btn btn-default" (click)="submitted=false">Edit</button>
  </div>
</div>