
<section-info [model]="model"></section-info>
<div class="container">
  <div [hidden]="submitted">
    <form *ngIf="active" (ngSubmit)="onSubmit()" #sectionForm="ngForm">
      <div>
        <label for="mainParkingTypeId">Parking Type</label>
        <select id="mainParkingTypeId"
                required
                [(ngModel)]="model.mainParkingTypeId" name="mainParkingTypeId" 
                #mainParkingTypeId="ngModel" >
          <option *ngFor="let type of pTypes" [value]="type.id">{{type.name}}</option>
        </select>
        <div [hidden]="mainParkingTypeId.valid || mainParkingTypeId.pristine" 
             class="alert alert-danger">
          Parking Type is required
        </div>
        <label for="power">Time Limited?</label>
        <select id="mainShortTermMin"
                required
                [(ngModel)]="model.mainShortTermMin" name="mainShortTermMin" 
                #mainShortTermMin="ngModel" >
          <option *ngFor="let t of pTimes" [value]="t.time">{{t.label}}</option>
        </select>
      </div>
      <div class="form-group">
        <span>New line from map?</span>
        <input #newPl type="checkbox" id="newPolyline"
              [(ngModel)]="model.newPolyline" name="newPolyline"
              (change)="toggleNewPolyline()">
        <span>New line street side: </span>
        <select id="streetSide"
                required
                [(ngModel)]="model.streetSide" name="streetSide" 
                #streetSide="ngModel" >
          <option *ngFor="let t of ssTypes" [value]="t.value">{{t.label}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="notes">Notes</label>
        <input type="text" class="form-control" id="notes"
               [(ngModel)]="model.notes" name="notes" >
      </div>
      <button type="submit" class="btn btn-default" [disabled]="!sectionForm.form.valid">Submit</button>
      <button type="submit" class="btn btn-default">New Map Line</button>
      <!--<button type="button" class="btn btn-default" (click)="newSection()">New Section</button>-->
    </form>
  </div>
  <div [hidden]="!submitted">
    <br>
    <p><strong>Form submitted:</strong></p>
    <div class="row">
      <div class="col-xs-3">Saving ...</div>
      <div class="col-xs-9  pull-left">Server Response:</div>
    </div>
    <br>
    <button class="btn btn-default" (click)="submitted=false">Edit</button>
  </div>
</div>